In [1]:
import pandas as pd

In [14]:
brics = pd.read_csv ("D:\\Scripts\\ETLPython\\pandas\\Edx\\brics.csv", index_col = 0)

In [15]:
brics

         country  population      area    capital
BR        Brazil         200   8515767   Brasilia
RU        Russia         144  17098242     Moscow
IN         India        1252   3287590  New Delhi
CH         China        1357   9596961    Beijing
SA  South Africa          55   1221037   Pretoria

In [16]:
brics.country

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [18]:
brics["on_earth"] = ["True", "True" ,"False","True" ,"True"]

In [19]:
brics

         country  population      area    capital on_earth
BR        Brazil         200   8515767   Brasilia     True
RU        Russia         144  17098242     Moscow     True
IN         India        1252   3287590  New Delhi    False
CH         China        1357   9596961    Beijing     True
SA  South Africa          55   1221037   Pretoria     True

In [20]:
brics ["density"] = brics.population / brics.area * 1000000
brics

         country  population      area    capital on_earth     density
BR        Brazil         200   8515767   Brasilia     True   23.485847
RU        Russia         144  17098242     Moscow     True    8.421918
IN         India        1252   3287590  New Delhi    False  380.826076
CH         China        1357   9596961    Beijing     True  141.398928
SA  South Africa          55   1221037   Pretoria     True   45.043680

In [21]:
brics.loc["BR"]

country         Brazil
population         200
area           8515767
capital       Brasilia
on_earth          True
density        23.4858
Name: BR, dtype: object

In [27]:
brics.loc["BR", "capital"]

'Brasilia'

In [28]:
brics.loc["CH","on_earth"]

'True'

In [29]:
brics

         country  population      area    capital on_earth     density
BR        Brazil         200   8515767   Brasilia     True   23.485847
RU        Russia         144  17098242     Moscow     True    8.421918
IN         India        1252   3287590  New Delhi    False  380.826076
CH         China        1357   9596961    Beijing     True  141.398928
SA  South Africa          55   1221037   Pretoria     True   45.043680

In [31]:
brics.loc[["BR","IN"], ["capital", "area"]]

      capital     area
BR   Brasilia  8515767
IN  New Delhi  3287590

In [37]:
brics.loc[["BR", 'SA'],["capital",'on_earth',"density"]]

     capital on_earth    density
BR  Brasilia     True  23.485847
SA  Pretoria     True  45.043680

In [38]:
print(3+4)

7

In [40]:
x = "test"
y = False