# Create SQL Connection Using SQLAlchemy

In [121]:
import pyodbc
from sqlalchemy import create_engine
import urllib

params = urllib.parse.quote_plus(r'DRIVER={SQL Server};SERVER=*Server_name*;DATABASE=*db_Name*;Trusted_Connection=yes')
conn_str = 'mssql+pyodbc:///?odbc_connect={}'.format(params)
engine = create_engine(conn_str)

# Read data from SQL table /Query. read_sql

In [124]:
query = "SELECT TOP 100 [EngagementKey],[ContractAmtUSD]  ,[VarianceFlag] FROM [dbProjectUnity].[dbo].[MCSEngagementDetailFact]"
df = pd.read_sql(query, engine)

df.head(3)

   EngagementKey  ContractAmtUSD  VarianceFlag
0         146287             0.0         False
1         107527             0.0         False
2         228545        555400.0          True

# Rename the columns in the DataFrame

In [127]:
df.rename (columns={
"EngagementKey" :"Engagement Key"
, "ContractAmtUSD" : "Contract Amt"
, "VarianceFlag" : "Variance Flag"
})
df.head(2)

   EngagementKey  ContractAmtUSD  VarianceFlag
0         146287             0.0         False
1         107527             0.0         False

# Write the dataframe to SQL table 
append = write to existing table
replace = full load

In [126]:
df.to_sql(name="Test_Naveen", con=engine , index = False, if_exists ="replace")